@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Distributed Session State with Redis</h1>
    <p class="lead">Our Session Says the meaning of life is: @Session["the meaning of life"].</p>    
</div>
